<a routerLink="form">Update</a>

<div class="user-info" *ngIf="profilesStore$ | async as profile">
    <!-- {{ profile.profile | json }} -->
    <div class="hero">
        <div class="container">
            <div class="hero__area">
                <img [src]="'http://localhost:3000/' + profile.profile.picturePath" alt="user profile picture"
                    class="img-rounded img-fluid" />
                <h1 class="text-primary text-center"><b>{{ profile.profile.displayName }}</b></h1>
                <small class="lead">@{{ userName }}</small>

                <button class="btn btn-primary my-3 w-100" type="button">Follow</button>

                <h2 class="d-none">Bio</h2>
                <p class="lead text-center">
                    <em>{{ profile.profile.bio || '-' }}</em>
                </p>
            </div>

            <div class="user-personal p-4">
                <dl class="user-personal__table">
                    <dt>Born</dt>
                    <dd>{{ profile.profile.born || '-' }}</dd>

                    <dt>Nationality</dt>
                    <dd>{{ profile.profile.nationality || '-' }}</dd>

                    <dt>Gender</dt>
                    <dd>{{ profile.profile.gender || '-' }}</dd>

                    <dt>Following</dt>
                    <dd>2134</dd>

                    <dt>Followers</dt>
                    <dd>123</dd>

                    <dt>Joined</dt>
                    <dd>{{ profile.profile.joined }}</dd>
                </dl>
            </div>
            
        </div>
    </div>

    <div class="posts-container">
        <a *ngIf="isUsers" class="btn btn-secondary w-100 text-light" routerLink="post-form">+</a>
        <div class="posts">
            <div class="my-5">
                <router-outlet></router-outlet>
            </div>
            <app-posts></app-posts>
        </div>
    </div>
</div>
