
@import "src/styles.scss";

dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1em;
}

dt {
    grid-column: 1;
    color: $primary;
    text-align: right;
    padding: 0;
    padding-right: .5em;
    border-right: 1px solid $light;
}

dd {
    grid-column: 2;
    padding: 0;
    padding-left: .5em;
    color: white;
}

.user-top-info {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: flex-end;
}
