<div class="user-info">
    <div class="p-3">
        <div class="container p-5">
            <div class="user-top-info">
                <div>
                    <img src="#" alt="user profile picture" class="rounded img-fluid" />
                    <h1 class="display-3 text-primary"><b>User Name</b></h1>
                </div>
                <dl>
                    <dt><small>Born</small></dt>
                    <dd><small>1/1/2001</small></dd>

                    <dt><small>Nationality</small></dt>
                    <dd><small>Syria</small></dd>

                    <dt><small>Gender</small></dt>
                    <dd><small>Male</small></dd>

                    <dt><small>Following</small></dt>
                    <dd><small>2134</small></dd>

                    <dt><small>Followers</small></dt>
                    <dd><small>123</small></dd>

                    <dt><small>Joined</small></dt>
                    <dd><small>1 Year</small></dd>
                </dl>
            </div>
        </div>

        <div class="container">
            <h2 class="d-none">Bio</h2>
            <p class="lead text-center">
                Ultricies mi eget mauris pharetra et ultrices! Quam pellentesque nec nam aliquam sem et tortor consequat
                id
                porta
                nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus.
            </p>
        </div>
    </div>

</div>

<div class="container text-center">
    <app-posts></app-posts>
</div>
