<nav class="navbar">
    <ul ngbNav>
        <li ngbNavItem>
            <a ngbNavLink class="navbar__item navbar-brand">Atlasers</a>
        </li>
    </ul>

    <ul ngbNav>
        <li ngbNavItem>
            <a ngbNavLink class="navbar__item" routerLink="profiles">Profile</a>
        </li>

        <li ngbNavItem>
            <a ngbNavLink class="navbar__item" routerLink="posts">Posts</a>
        </li>

        <li ngbNavItem>
            <a ngbNavLink class="navbar__item">Browse</a>
        </li>

        <li ngbNavItem>
            <a ngbNavLink class="navbar__item" routerLink="atlas">Atlas</a>
        </li>
    </ul>

    <ul ngbNav>
        <li ngbNavItem>
            <button class="btn navbar__item" (click)="onLogOut()">Log Out</button>
        </li>
    </ul>
</nav>
