<div class="post">
    <ul class="list__tags mb-3">
        <li class="col list__tag"><a href="#"><small>tag 1</small></a></li>
        <li class="col list__tag"><a href="#"><small>tag 2</small></a></li>
    </ul>
    <img src="" alt="some image" class="img-fluid" />
    <p class="my-3">
        Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus
        risus, at ultrices mi tempus imperdiet nulla. Nulla pellentesque dignissim enim, sit.
    </p>
    <app-comments>
    </app-comments>
</div>
