<div class="user-info">
    <div class="bg-dark text-white p-3 text-center">
        <div class="container p-5">
            <!-- <div class="row justify-content-center">
                    <img src="#" alt="user profile picture" class="col-4 rounded img-fluid" />
                    <h1 class="display-2 col-4">User Name</h1>
                </div> -->
            <img src="#" alt="user profile picture" class="rounded img-fluid" />
            <h1 class="display-2 text-primary">User Name</h1>
        </div>

        <div class="container">
            <h2 class="d-none">Bio</h2>
            <p class="lead text-center">
                Ultricies mi eget mauris pharetra et ultrices! Quam pellentesque nec nam aliquam sem et tortor consequat
                id
                porta
                nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus.
            </p>
        </div>
    </div>


    <div class="bg-secondary">
        <div class="container center p-3">
            <dl>
                <dt>Born</dt>
                <dd>1/1/2001</dd>

                <dt>Nationality</dt>
                <dd>Syria</dd>

                <dt>Gender</dt>
                <dd>Male</dd>

                <dt>Following</dt>
                <dd>2134</dd>

                <dt>Followers</dt>
                <dd>123</dd>

                <dt>Joined</dt>
                <dd>1 Year</dd>
            </dl>
        </div>
    </div>
    
</div>

<div class="container">
    <p>Posts...</p>
</div>
